<ion-view view-title="Quick Match">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-clear icon-right ion-navicon-round"></button>
    </ion-nav-buttons>
    <ion-content class="full-height scroll-content ionic-scroll display-overflow">
        <form name="NewMatchController.form" class="list" novalidate>
            <div class="list card">
                <div class="item item-divider">
                    Match Data
                </div>
                <div class="item item-body">
                    <label class="item item-input-inset item-floating-label">
                        <span class="input-label">Opponent</span>
                        <input type="text" placeholder="Opponent"
                            ng-model="NewMatchController.match.opponent"
                            required="">
                        <span ng-show="NewMatchController.form.$submitted">
                            <span ng-show="NewMatchController.form.opponent.$error.required">Opponent is required</span>
                        </span>
                    </label>
                </div>
                <div class="item item-divider">
                    Players participating
                </div>
                <ul class="list">
                    <li ng-repeat="player in NewMatchController.players" class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="NewMatchController.match.playerIds[player._id]" id="{{player._id}}">
                        </label>
                        {{::player.firstName}} {{::player.lastName}}
                    </li>
                </ul>
            </div>
        </form>
	</ion-content>
    <ion-footer-bar class="bar-clear">
        <div class="buttons">
            <button class="button button-clear button-energized icon ion-arrow-left-b" ng-click="NewMatchController.goBack()"></button>
            <h1 class="title"></h1>
            <button class="button button-clear button-calm icon ion-checkmark-round" ng-click="NewMatchController.save()"></button>
        </div>
    </ion-footer-bar>
</ion-view>