<ion-view view-title="Match">
    <div class="bar bar-header">
        <time-picker time-obj="{time: MatchNavBarController.time}" set-period="MatchNavBarController.setPeriod"></time-picker>
        <time-start-stop></time-start-stop>
        <h1 class="title">Header Buttons</h1>
    </div>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-clear icon-right ion-navicon-round"></button>
    </ion-nav-buttons>
    <match-nav-bar></match-nav-bar>
    <ion-content class="full-height scroll-content ionic-scroll display-overflow" delegate-handle="matchesScroll">
        <ion-list>
            <ion-item ng-repeat="player in MatchController.match.players">
                <span class="modal-clickable-name-span" ng-click="MatchController.show(player)">{{::player.firstName}} {{::player.lastName}}</span>
                <label class="toggle pull-right my-toggle">
                    <input type="checkbox" ng-model="MatchController.currentlyPlaying[player._id]"
                        ng-click="MatchController.setCurrentlyPlaying()"/>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </ion-item>
        </ion-list>
	</ion-content>
    <ion-footer-bar class="bar-clear">
        <div class="buttons">
            <button class="button button-clear button-positive icon ion-arrow-left-b" ng-click="MatchController.goBack()"></button>
        </div>
    </ion-footer-bar>
</ion-view>