@import "players/players";
@import "matches/matches";
@import "variables";
@import "matches/match/stats/stats";
@import "matches/match/stats/stat-modal";
@import "home/home";
@import "manage-teams/manage-teams";

.half-height {
  height: 50%;
}

.full-height {
  height: 100%;
}

.scroll {
  height: 100%;
}

.hide-element {
  display: none;
}

.list:last-child {
  margin-bottom: 50px;
}