<div class="list card">
    <div class="item item-divider">
        Match Data
    </div>
    <div class="item item-body">
        <form name="form" class="list" novalidate>
            <label class="item item-input-inset item-floating-label">
                <span class="input-label">Opponent</span>
                <input type="text" placeholder="Opponent"
                       ng-model="match.opponent"
                       required="">
                <span ng-show="form.$submitted || form.firstName.$touched">
                    <span ng-show="form.opponent.$error.required">Opponent is required</span>
                </span>
            </label>
        </form>
    </div>
    <div class="item item-divider">
        Players participating
    </div>
    <ul class="list">
        <li ng-repeat="player in NewMatchController.players" class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            {{player.firstName}} {{player.lastName}}
        </li>
    </ul>
</div>
<ion-footer-bar fixed-scroll-height="matchesScroll" align-title="left" class="bar-clear bar-subfooter">
<!--<ion-footer-bar align-title="left" class="bar-clear bar-subfooter">-->
    <button class="button button-clear button-calm pull-right icon ion-checkmark-round"></button>
</ion-footer-bar>